# y
local
.gitignore
*TempIgnore.java
config-custom-db.properties

*.iml

.log

# for Mac OS X System Files
.DS_Store
Thumbs.db

#activiti
.bpmn

# svn
.svn

# visio
~*
application-dev.yml

# powerDesigner
*.pdb

# maven
target

# eclipse
.classpath
.project
.settings

bin
classes

# log
log-log4j
log-log4j2


# intellij
.idea
*.iml

#gitbook
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules
dist
# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

#end
# 不忽略的内容
!/.gitignore
