<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdjc.wms.project.form.mapper.FormDataMapper">
    <select id="selectByFormCodeAndBusinessKey" resultType="cn.zdjc.wms.project.form.model.entity.FormDataEntity">
        SELECT * FROM wms_form_data WHERE form_code = #{formCode} AND business_key = #{businessKey} LIMIT 1
    </select>
    <select id="countByFormCode" resultType="int">
        SELECT COUNT(*) FROM wms_form_data WHERE form_code = #{formCode}
    </select>
</mapper>
