sass_binary_site=https://mirrors.huaweicloud.com/node-sass
phantomjs_cdnurl=https://mirrors.huaweicloud.com/phantomjs
electron_mirror=https://mirrors.huaweicloud.com/electron
# registry=https://registry.npmmirror.com
@wxzd:registry=http://nexus.foeris.com:4667/repository/z-npm-public/